body {
  margin: 0;
}

.radix-themes {
  --default-font-family: 'Montserrat', sans-serif;
  --title-font-family: 'Lostar';

  --mellowdy-orange: #fc8f52;
  --mellowdy-red: #ba0000;
  --mellowdy-black: #2d221f;
  --mellowdy-white: #fff5f0;

  --orange-9: var(--mellowdy-orange);
  --red-9: var(--mellowdy-red);
  --black-9: var(--mellowdy-black);
  --white-9: var(--mellowdy-white);
}

.fade-out {
  opacity: 1;
  transition: opacity 3s ease-out;
}

.fade-out.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute; /* Hide the element without removing it from the layout */
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.visible {
  opacity: 1;
  visibility: visible;
  position: static;
}
